body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h2 {
    color: #333;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cliente {
    width: 30%;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.cliente dt {
    font-weight: bold;
    margin-bottom: 5px;
}
.cliente dd {
    margin-bottom: 10px;
}