*{
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    padding: 20px;
}
h2 {
    color: #333;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cliente {
    width: 30%;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.cliente dt {
    font-weight: bold;
    margin-bottom: 5px;
}
.cliente dd {
    margin-bottom: 10px;
}
/* Calculadora style */
.principal{
    display: flex;
    justify-content: center;
}
.input{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.conteiner {
    background-color: antiquewhite; 
    display: flex; 
    padding: 10px;
    justify-content: center;
    width: fit-content;
}
.numeros, .operadores{
    margin-right: 5px;
}

.numeros, .operadores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.res{
    display: grid;
}


